body {
    margin: 0;
    overflow-x: hidden;
}

.floating-player {
    position: fixed;
    right: 10px;
    bottom: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    width: 220px;
    display: flex;
    align-items: center;
    padding: 5px;
    z-index: 1000;
}

.album-cover {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 10px 0 0 10px;
    margin-right: 10px;
}

.player-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: left;
}

.player-content h3 {
    margin: 0;
    font-size: 14px;
    line-height: 1.2;
}

.floating-player audio {
    display: none;
}

.floating-player-controls {
    margin-top: 5px;
    display: flex;
    justify-content: space-between;
}

.floating-player-controls button {
    background-color: #070707;
    color: #cfd1d5;
    border: none;
    padding: 5px 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    font-size: 12px;
}

.floating-player-controls button:hover {
    background-color: #0f0f10;
}